## OPERATORS IN PYTHON
- Arithmetic Operators
- Assignment Operators
- Comparison Operators
- Logical Operators
- Identity Operators
- Membership Operators
- Bitwise Operators

In [3]:
## Arithemtic Operator
"What's Up? "  * 10

"What's Up? What's Up? What's Up? What's Up? What's Up? What's Up? What's Up? What's Up? What's Up? What's Up? "

In [4]:
"Whta's " + "up?"

"Whta's up?"

In [5]:
"Data Nerd " * 10

'Data Nerd Data Nerd Data Nerd Data Nerd Data Nerd Data Nerd Data Nerd Data Nerd Data Nerd Data Nerd '

In [6]:
2+3

5

In [7]:
5 // 2

2

In [8]:
5 % 2

1

In [9]:
print("5 divided by 2 is", 5 // 2, "with a remainder of", 5 % 2)

5 divided by 2 is 2 with a remainder of 1

In [11]:
min_salary = 20_000 # _ is ignored by the interpreter
max_salary = 80_000

average_salary = (min_salary + max_salary) / 2

average_salary

50000.0

In [12]:
x = 1
y = 2

x, y = y, x # swap values

print("x is now: ", x)
print("y is now: ", y)

x is now:  2
y is now:  1

In [13]:
x = 1 # let's increment x by 1

x = x + 1 # not pythonic

x

2

In [14]:
1 == 1

True

In [15]:
salary_kelly = 50_000
salary_luke = 50_000

# Are Luke and Kelly's salaries the same?
salary_checker = (salary_kelly == salary_luke) # parantheses are optional

salary_checker

True